
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Drug Safety Monitoring</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Drug Safety Monitoring</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
  <div class="jumbotron">
    <h1><center>Enter your drug:</h1></center>    
</br>
{{ lomo_string }}


<body>
    <form action="/result/" method="get">
        <input type="text" name="drug_name">
        <input type="submit" value="Submit!">
    </form>
</body>
    <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Search</a>
{{ error }}

<br>
<br>
<b><center>For some fun popular top ten drugs to query, here are some inspirations!</b></center>
</br>

<table>
	<tr>
		<td>Advair</td><td>Prevents symptoms of asthma or COPD (chronic obstructive pulmonary disease). This medicine contains a steroid and a long-acting beta-agonist (LABA).</td>
	</tr>
	<tr>
		<td>Crestor</td><td>Lowers high cholesterol and triglyceride levels. May reduce the risk of heart attack, stroke, and blood vessel problems. This medicine is a statin.</td>
	</tr>
	<tr>
		<td>Cymbalta</td><td>Treats depression, anxiety, diabetic peripheral neuropathy, fibromyalgia, or chronic muscle or bone pain. This medicine is an SSNRI.</td>
        </tr>
	<tr>
		<td>Diovan</td><td>Treats high blood pressure and heart failure. May lower the risk of death in patients who have had a heart attack. This medicine is an angiotensin receptor blocker (ARB).</td>
        </tr>
	<tr>
		<td>Lantus Solostar</td><td>SoloSTAR® Pen may help diabetes patients manage blood sugar levels.</td>
        </tr>
	<tr>
		<td>Lyrica</td><td>Treats nerve and muscle pain caused by diabetes, shingles, fibromyalgia, or a spinal cord injury. Also treats partial-onset seizures in adults.</td>
        </tr>
	<tr>
		<td>Nexium</td><td>Treats heartburn, gastroesophageal reflux disease (GERD), stomach ulcers, and a damaged esophagus. May prevent stomach problems caused by pain medicine.</td>
        </tr>
	<tr>
		<td>Synthroid</td><td>Treats hypothyroidism. Also treats an enlarged thyroid gland and thyroid cancer.</td>
        </tr>
        <tr>
                <td>Ventolin</td><td>Treats asthma, bronchitis, and similar breathing problems. This medicine is a bronchodilator</td>
        </tr>
        <tr>
                <td>Vyvanse</td><td>Treats attention deficit hyperactivity disorder (ADHD). This medicine is a stimulant.</td>
        </tr>
  </div>


</body>
</html>
